@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-color: rgb(93, 98, 100);
  font-family: "Poppins", sans-serif;
  color: rgb(233, 238, 247);
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 1000;
  color: rgb(83, 235, 13);
}

form {
  text-align: center;
  margin-top: 20px;
}

form input[type="text"] {
  background-color: rgb(236, 240, 22);
  color: rgb(5, 5, 5);
}

form input[type="number"] {
  background-color: rgb(236, 240, 22);
  color: rgb(5, 5, 5);
}

form input[type="button"] {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(15, 82, 206);
  box-shadow: 1px 1px rgb(190, 211, 197);
  color: white;
  font-weight: 600;
  border: solid 1px rgb(7, 241, 241);
}

form input[type="button"]:hover {
  cursor: pointer;
  background-color: rgb(64, 148, 26);
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* js classes */

.div-courses {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

.div-parent {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 197, 170);
}
.ul-ul {
  list-style: none;
  margin: 5px 15px;
  width: 80%;
}
.ul-ul li {
  background-color: rgb(188, 192, 156);
  margin: 5px 15px;
  font-family: 600;
  padding: 0 15px;
  color: #111;
  text-align: left;
}
.course-li {
  margin-right: 3rem;
  margin-left: 3rem;
  color: #111;
  font-size: 20px;
}

.delete-btn {
  background-color: rgb(216, 9, 9);
  font-size: 20px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.edit-btn {
  background-color: rgb(45, 164, 201);
  font-size: 20px;
  margin-left: 3px;
  cursor: pointer;
}
.fa-check-square,
.fa-trash-alt {
  pointer-events: none;
}

p {
  text-align: center;
  margin-top: 7rem;
}

/*about page */

h1 {
  text-align: center;
  margin-top: 7rem;
  color: aqua;
}

p {
  color: rgb(228, 213, 213);
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
span {
  color: rgb(33, 204, 216);
}

a {
  text-align: center;
  color: rgb(83, 223, 18);
  text-decoration: none;
}

a:hover {
  color: rgb(40, 159, 196);
}
